/* *********************
  BELLOW 1280px (Smaller desktops)
********************* */
@media (max-width: 37.5em) {
  .container {
    max-width: 60rem;
  }
  .grid--2 {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5em;
  }
  .title-header {
    padding-left: 0;
    border-left: none;
    border-bottom: solid 5px #2f3542;
    height: 8rem;
  }
  .tools {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    padding: 2rem 10rem;
  }
}
