/* *********************
  BELLOW 1280px (Smaller desktops)
********************* */
@media (max-width: 24.31em) {
  .container {
  }
  .grid--2 {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5em;
  }
  .title-header {
    padding-left: 0;
    border-left: none;
    border-bottom: solid 5px #2f3542;
    height: 8rem;
  }
  .tools {
    display: none;
    grid-template-columns: repeat(3, 1fr);
  }
  .header {
  }
  .setion-hero {
    display: none;
  }

  .img-header {
    display: none;
  }
}
