* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(#cfdef3, #f2f4f9);
}

.hero {
  padding: 20rem 1rem 20rem 1rem;
  background-image: url(images/banner.webp);
  filter: grayscale(20%);
  background-size: cover;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 900;
  /* filter: grayscale(100); */
  margin-bottom: 3rem;
  border-bottom: 1rem solid rgb(255, 157, 0);
}

#image-title {
  text-shadow: 0.5rem 0.5rem 0.5rem black;
}

.nav-btn {
  padding: 4rem 10rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: 0.2rem solid white;
  color: white;
  text-transform: uppercase;
  margin-top: 10rem;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s;
  text-shadow: 0.5rem 0.5rem 0.5rem black;
}

.nav-btn:hover {
  background-color: rgba(255, 255, 255, 0.366);

  border: 0.2rem solid rgb(255, 157, 0);
}

.container {
  max-width: 128rem;
  margin: 0 auto;
  /* background-color: red; */
}

.post {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  margin-bottom: 3rem;
  background: cfdef3;
  box-shadow: 0 0.2rem 4rem rgba(0, 0, 0, 0.075);
}

.img-post img {
  width: 100%;
  border-bottom: 1.5rem solid white;
  border-bottom: 0.5rem solid rgb(255, 157, 0);
}
.img-details {
  padding: 2rem;
  border-bottom: 0.5rem solid rgb(255, 157, 0);
}
.img-details h1 {
  margin-bottom: 1.5rem;
}

h1,
h3 {
  color: #423b39;
}
p {
  color: #4c4c45;
  line-height: 1.9;
  font-size: 1.4rem;
}

.grid {
  display: flex;
  justify-content: space-around;
  gap: 4rem;
  cursor: pointer;
  margin-bottom: 3rem;
}

.img-grid img {
  width: 100%;
  margin-bottom: 1rem;
  border-bottom: 0.5rem solid rgb(255, 157, 0);
}

.grid h1 {
  margin-bottom: 1rem;
}

.grid-item {
  background-color: cfdef3;
  overflow: hidden;
  transition: all 0.4s;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.075);
  width: 40rem;
}

.grid-item:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.06);
}

.txt-grid {
  padding: 1rem;
}

.footer {
  display: flex;
  column-gap: 3rem;
  justify-content: space-around;
  background: linear-gradient(#cfdef3, white);
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.075);
  height: 20rem;
  padding: 3rem 4rem;
  border-top: 0.1rem solid rgb(255, 157, 0);
  text-transform: uppercase;
}
.logo {
  width: 20rem;
}

.img-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2rem;
  width: 40rem;
  /* padding: 20px 5px 20px 20px; */
  /* background-color: bisque; */
}
.t-icon img {
  padding: 0.5rem;
}
.about-us {
  width: 40rem;
  padding: 2rem;
  /* background-color: antiquewhite; */
}

.resources {
  padding: 2rem;
  /* background-color: bisque; */
}

.s-icon {
  width: 3.5rem;
}

.footer p {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.footer a {
  display: block;
  margin-top: 1rem;
  color: inherit;
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: capitalize;
}
