* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  /* background: linear-gradient(#cfdef3, #f2f4f9); */
  background-repeat: no-repeat;
  color: #2f3542;
}

.setion-hero {
  max-width: 120rem;
  margin: 0 auto;
  background: rgb(52, 44, 33);
  background: rgb(52, 44, 33);
  background: rgb(52, 44, 33);
  background: rgb(52, 44, 33);
  background: rgb(52, 44, 33);
  background: rgb(52, 44, 33);
  background: linear-gradient(
    90deg,
    rgba(52, 44, 33, 1) 0%,
    rgba(4, 4, 4, 1) 24%,
    rgba(4, 4, 4, 1) 76%,
    rgba(52, 44, 33, 1) 100%
  );
  border-bottom: 5px solid rgb(255, 157, 0);
  margin-bottom: 1rem;
}

.banner {
  max-width: 70rem;
  margin: 0 auto;
  background-image: url(images/banner.webp);
  background-size: cover;
  height: 30rem;
  color: aliceblue;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.map-btn {
  padding: 1rem 3rem;
  margin-top: 4rem;
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid white;
  color: white;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.6s;
  text-transform: uppercase;
}

.map-btn:hover {
  border: 1px solid rgb(255, 157, 0);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.header {
  display: grid;
  gap: 1rem;
}

.img-header {
  width: 100%;
  border-bottom: 5px solid rgb(255, 157, 0);
}

.grid--2 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 4rem;
}

.about {
  font-size: 2rem;
  padding: 3rem 2rem;
  border-bottom: 1px solid rgb(255, 157, 0);
}

.title-header {
  padding-left: 2rem;
  border-left: solid 10px #2f3542;
  height: 8rem;
}
.title-header p {
  font-style: italic;
  font-weight: normal;
  font-size: 2rem;
  color: lightslategrey;
}

.title-text {
  font-size: 1.6rem;
  line-height: 1.8;
  color: inherit;
}

.tools {
  width: 25%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  padding-left: 2rem;
  background-color: antiquewhite;
}

.btn-icon {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  justify-content: center;
  align-items: center;
  border: 1px solid #2f3542;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.4s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.btn-icon:hover {
  background-color: #f7f1e3;
}

.btn-icon img {
  width: 2.5rem;
  transition: all 0.4s;
}

.btn-icon:hover img {
  transform: scale(1.2) rotate(5deg);
}

.tools a {
  text-decoration: none;
  color: inherit;
}
